.banner {
    height: 30;
    /* Height of the banner */
    position: sticky;
    /* Follows as you scroll */
    top: 0;
    /* Absolute top of page */
    left: 0;
    padding: 10px 0;
    width: 100%;
    z-index: 1;
    /* Tells the renderer "this is important", otherwise Admonition and Code Blocks will render into it */
    text-align: center;
    background-color: rgb(240, 73, 83);
}

.banner-text {
    color: white;
    display: inline;
    font-size: 24px;
    /* increase size as needed */
}